/* Common */
button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
button:focus, input:focus, textarea:focus {
  outline: 0;
}

/* TodoWrapper */
.todo-wrapper {
  position: relative;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 600px;
  margin-left: -200px;
  border: 2px solid tomato;
}
.todo-wrapper-header {
}
.todo-wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}
.todo-wrapper-title button {
  font-size: 20px;
  font-weight: bold;
}

.todo-wrapper-content {
  padding: 10px;
}

/* Tabs */
.tabs-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.tabs-wrapper-item {
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #666;
}
.tabs-wrapper-item.active {
  border-bottom: 2px solid tomato;
  color: tomato;
}
/* TodoItem */
.item-wrapper {
  background: #b1ccdb;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}
.item-wrapper:last-child {
  margin-bottom: 0;
}

.item-wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-wrapper-title {
  font-weight: bold;
  color: white;
}
.item-wrapper-date {
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, .9);
}

.item-wrapper-content {
  padding: 10px 0;
  color: white;
}

/* Popover */
.popover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.2);
}
.popover-wrapper-container {
  width: 80%;
  padding: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popover-wrapper-container input {
  margin-bottom: 10px;
}

.color-picker {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
}

.color-picker div {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.popover-wrapper-container input {
  border: 1px solid #eee;
  width: calc(100% - 20px);
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.popover-wrapper-container textarea {
  border: 1px solid #eee;
  width: calc(100% - 20px);
  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.button-group button {
  flex: 1;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  background-color: #eee;
}
.button-group button:last-child {
  margin-right: 0;
  background-color: tomato;
  color: white;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-wrapper-content {
  position: absolute;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-wrapper-content-item {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}